body {
  padding: 10px;
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

#react-target {
  margin: 10px;
}

.row-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

div.row-main-content, div.added-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex: 16;
  margin-right: 20px;
}

div.added-row {
  margin-bottom: 10px;
}

div.row-main-content > textarea {
  border: 0px;
  resize: none;
}

div.added-row > textarea {
  resize: none;
}

div.row-main-content > *, div.added-row > * {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 5px;
}

.no-focus:focus {
  outline: none
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.horizontal-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fix-width-button {
  width: 60px!important;
  font-size: 12px!important;
  padding: 8px!important;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1
}

.page-header {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
